html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, label, select {
    margin: 5px;
}

input, select, option {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: #E5E5E5;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 5px;
}

.botones {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botones>button {
    width: 80px;
    height: 25px;
}

.cancel {
    background-color: #af1212;
    border: 1px solid #af1212;
    border-radius: 3px ;
    color: #e5e5e5;
    cursor: pointer;
}

.create {
    background-color: rgb(30, 178, 125);
    border: 1px solid #1EB27D;
    border-radius: 3px ;
    cursor: pointer;
}

#mapid, #mapa { 
    position: fixed;
    height: 100%;
    width: 100%;
}

#coordenadas{
    padding: 5px;
    width: 20%;
    height: 50%;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    color: #E5E5E5;
    z-index: 50;
}

#coordenadas>input {
    font-size: 12px !important;
    width: 90% !important;
}

#coordenadas>#botones {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botones>button {
    width: 60% !important;
    margin: 4px;
}

.contenedor {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
}

#alertas, #infoAlertas {
    width: 30%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mapaa {
    width: 70% !important;
}

.alerta {
    width: 90%;
    height: 80px;
    background: #e5e5e5;
    margin: 10px;
    /* padding: 10px; */
    padding-left: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.title {
    color: #1EB27D;
    font-size: 20px;
    font-weight: bold;
    
}

.title, .descr {
    line-height: 10px;
}

.elementos {
    display: flex;
    flex-direction: column;
}

#infoAlerta {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: #E5E5E5;
    left: 100%;
    top: 0;
    transition: all .5s;
}

.desplegado {
    left: 0 !important;
}

.cerrar {
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 15px;
    right: 78%;
}

#infoAlerta>#mapaa {
    width: 100% !important;
    height: 100% !important;
}

#infoAlerta>#mapa {
    width: 100% !important;
    height: 100% !important;
}

#iconoChat {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    z-index: 50;
    background: #1EB27D;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
}

.despl {
    visibility: visible !important;
}

#iconoChat>img {
    width: 28px;
}

#chat {
    position: absolute;
    width: 50%;
    height: 100vh;
    z-index: 50;
    background: #E5E5E5;
    left: 100%;
    top: 0;
    transition: all .5s;
}

#cabecera {
    width: 100%;
    height: 5vh;
    background: #1EB27D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
    font-weight: bold;
}

#mensajes {
    width: 100%;
    height: 84vh;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#enviar {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensaje {
    left: 2px;
    width: 80% !important;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding-left: 15px;
    letter-spacing: .3;
    color: black;
}

.chatAbierto {
    left: 50% !important;
}

#closeChat {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 3px
}

#send {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1EB27D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send>img {
    width: 28px;
}

.msg {
    background-color: rgb(194, 194, 194);
    width: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    letter-spacing: .2;
    font-size: 15px;
}

.msgSelf {
    background-color: #D9F2AB;
    width: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    letter-spacing: .2;
    font-size: 15px;
    margin-right: 0;
}

.msg>.fecha, .msgSelf>.fecha{
    color: #1EB27D;
    font-size: 13px !important;
}

#c {
    z-index: 100 !important;
    background: #af1212;
}

#info {
    margin-top: 50px;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
}

#info>h3{
    color: #1EB27D;
}